body{
    background-color: #CDE4DF;
    animation: fadeIn ease 3s;
    animation-iteration-count: 0.5;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
header {
    size-adjust:initial ;
background-image: url(./fond4.jpg);
}
.sideBar {
    height: 50%;
    width: 200px;
    position: fixed;
    z-index: 4;
    top: 0;
    right: -250px;
    background-color: #FAF3DD;
    padding-top: 60px;
    transition: right 0.5s ease;
}
.sideBar a {
    padding: 5px 5px 8px 25px;
    text-decoration: none;
    font-size: 20px;
    color: #828383;
    display: block;
    transition: 0.3s;
}
.sideBar a:hover {/*changement de couleur*/
    color: #111;
}
.sideBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sideBar.active {
    right: 0;
}
.sideBar.close {
    position:absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
}
h1 {
    color: rgb(82, 83, 83);
    font-size: 100px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}
h3 {
    color: rgb(65, 77, 75);
    text-align: center;
}
.container {
    margin-bottom: auto;
    display: flex;
    flex-direction:row;
    }
ul {
    list-style: none;

}
ul2{
    justify-content: space-evenly;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin-top: 10%;
}



